body { background: #648da9; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 56px; display: flex; }
.block-auth-0 { color: #71871c; font-size: 12px; margin-bottom: 5px; }
.block-search-1 { color: #79e490; font-size: 13px; margin-bottom: 5px; }
.block-validator-2 { color: #baab3d; font-size: 12px; margin-bottom: 5px; }
.block-search-3 { color: #78ab0c; font-size: 21px; margin-bottom: 5px; }
.block-config-4 { color: #95d452; font-size: 14px; margin-bottom: 5px; }
.block-sms-5 { color: #f80fba; font-size: 16px; margin-bottom: 5px; }
.block-session-6 { color: #9531de; font-size: 16px; margin-bottom: 5px; }
.block-cart-7 { color: #8549f3; font-size: 21px; margin-bottom: 5px; }
.block-payment-8 { color: #9b4f92; font-size: 20px; margin-bottom: 5px; }